Carthage
build
*.xcodeproj/*.mode*
*.xcodeproj/*.pbxuser
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
*.xcworkspace/xcuserdata⏎                                                                                                                                     kevin@Willow ~/D/Schoolyard>
